
@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  border-style: solid;
  border-color: #616161;
  background-color: #616161;
} 

#root {
  text-align: center;
  margin-left: auto;
}

.tabela2 {
  margin-right: auto;
  text-align: center;
  margin-left: auto;
}*/









